{% extends "base.html" %}

{% block main %}
    <main class="main_main">
        <ul class="items_list">
            {% for item in object_list %}
                <ul class="item">
                    <li class="item_name">{{ item.name }}</li>
                    <li class="item_description">{{ item.description }}</li>
                    <li class="item_price">{{ item.price }}</li> 
                    <button>buy</button>
                </ul>
            {% endfor %}
        </ul>
    </main>
{% endblock main %}