{% extends "base.html" %}

{% block user_info %}
    <div class="main_user_info">
        <span class="main_user_username">{{user.username}}</span>
        <br>
        <span class="main_user_balance">balance:{{user.balance}}</span>
    </div>
{% endblock user_info %}



{% block main %}
    <main class="main_main">
        <ul class="items_list">
            {% for item in object_list %}
                <ul class="item">
                    <li class="item_name">{{ item.name }}</li>
                    <li class="item_description">{{ item.description }}</li>
                    <li class="item_price">{{ item.price }}$</li>
                    {% if user.username == 'admin'%}
                        <p>quantity on storage: {{ item.quantity }}</p>
                        <a href=""></a>    
                    <button class="buy">buy</button>
                </ul>

            {% endfor %}

            <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
        </ul>
        
    </main>
{% endblock main %}